name: pylama linting

on:
  push:
    ignore-branches:
      - gh-pages
    paths:
      - '**.py'
  pull_request:
    paths:
      - '**.py'
    ignore-branches:
      - gh-pages

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up python
      uses: actions/setup-python@v2
      with: 
        python-version: '3.x'
    - name: Running linter
      run: |
        python -m pip install --upgrade pip
        pip install pylama
    - name: Linting
      run: |
        pylama --skip docs/conf.py,setup.py
